// COLORS 
// Primary
$clr-primary-blue: hsl(220, 98%, 61%);
$clr-primary-red: hsl(0, 98%, 61%);
$clr-check-bg: linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

// Light mode 
$clr-lightest-grey: hsl(0, 0%, 98%);
$clr-light-grey: hsl(233, 11%, 84%);
$clr-light-blue: hsl(236, 33%, 92%);
$clr-dark-greyblue: hsl(236, 9%, 61%);
$clr-very-dark-greyblue: hsl(235, 19%, 35%);

// border radius 
$br-1: 0.3rem;

// box shadow 
$bs-1: 0px 0px 35px 4px rgba(31, 31, 31, 0.116);